.container{
  text-align: center;
}

input[type="text"]{
  width: 50px;
  text-align: center;
  background: lightgray;
  padding: 5px;
}

.quantity__minus, .quantity__plus{
  padding: 6px;
  font-size: larger;
}

a{
  cursor: pointer;
}